<nav class="navbar navbar-default navbar-fixed-top js-main-nav">
  <div class="container-fluid">
  	<div class="navbar-header">

  		<div class="mobile-menu">
  			<i class="fa fa-bars"></i>
  		</div>
	  	<ul id="menu" class="navbar-links">
	  		<li data-menuanchor="secondPage">
	  			<a href="#secondPage">
	  				<span>Portfolio</span>
	  			</a>
	  		</li>
				<li data-menuanchor="thirdPage">
					<a href="#thirdPage">
						<span>About</span>
					</a>
				</li>
			  <li data-menuanchor="firstPage" class="logo" class="active">
			  	<a href="#firstPage" title="Wayne lavender Front-end Developer">
			  		<img class="default" src="HTMLResources/img/logo-wl-small-hover.png" alt="Wayne Lavender - Developer Logo">
			  		<!--<img class="hover" src="HTMLResources/img/logo-wl-small.png" alt="Wayne Lavender - Developer Logo">-->
			  	</a>
			  </li>
			  <li data-menuanchor="fourthPage">
			  	<a href="#fourthPage">
			  		<span>Testimonials</span>
			  	</a>
			  </li>
			  <li data-menuanchor="lastPage">
			  	<a href="#lastPage">
			  		<span>Contact</span>
			  	</a>
			  </li>
			</ul>

  	</div>
  </div><!-- /.container -->
</nav>