<nav class="navbar navbar-default navbar-fixed-top js-main-nav">
  <div class="container-fluid">
  	<div class="navbar-header">

  		<div class="mobile-menu">
  			<i class="fa fa-bars"></i>
  		</div>

	  	<ul class="navbar-links">
			  <li data-menuanchor="secondPage"><a href="#section2">About</a></li>
			  <li data-menuanchor="thirdPage"><a href="#section3">Agencies</a></li>
			  <li data-menuanchor="firstPage" class="active">
			  	<a href="#section1" class="logo" title="Add some text">
			  		<img src="HTMLResources/img/logo-wl-small.png" alt="Wayne Lavender - Developer Logo">
			  	</a>
			  </li>
			  <li data-menuanchor="fourthPage"><a href="#section4">Work</a></li>
			  <li data-menuanchor="fourthPage"><a href="#section5">Contact</a></li>
			</ul>

  	</div>
  </div><!-- /.container -->
</nav>