<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js ','no-js').replace('no-js','');</script>
  <title>Wayne lavender | Digital Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<meta name="description" content="Front-end Developer producing high quality responsive websites">
	<meta name="robots" content="index, nofollow">
	<meta name="keywords" content="front-end developer, front-end development">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="HTMLResources/css/main.min.css">
	<!-- Must live here to provide html5 shiv in IE8 -->
	<!-- <script src="HTMLResources/js/modernizr-2.8.3.js"></script> -->
 

  <!--[if lt IE 9]>
		<script src="HTMLResources/js/respond.min.js"></script>
	<![endif]-->