<section class="section home">

	<!--<div class="animation-trigger"></div>-->

	<div class="container scrollme">

		<div class="wl-logo animateme"
        data-when="enter"
        data-from="0"
        data-to="1"
        data-crop="true",
        data-scale="0.8">

			<img ng-src="{{folio.dataService.JSONHomeSection[0].image}}">

		</div>

		<div class="text animateme"
				data-when="span"
        data-from="0"
        data-to="1"
        data-crop="true",
        data-translatey="-200">

	  	<h1 ng-bind-html="folio.dataService.JSONHomeSection[0].header">{{folio.dataService.JSONHomeSection[0].header}}</h1>

	  	<h3>{{folio.dataService.JSONHomeSection[0].skills}}</h3>

	  	<a class="portfolio-link" href="#">
	  		<span>Portfolio</span>
	  		<i class="fa fa-chevron-circle-down"></i>
	  	</a>

  	</div>

	</div>
	
</section>