<section class="section about scrollme">

	<div class="container">

		<div class="row">

			<div class="col-xs-12">

				<h2 class="animateme"
						data-when="enter"
		        data-from="1"
		        data-to="0"
		        data-translatex="-1000">
		        {{folio.dataService.JSONAboutSection[0].header}}
		    </h2>

		    <div class="animateme"
						data-when="enter"
		        data-from="1"
		        data-to="0"
		        data-translatex="2000">

					<div class="slide">

						<p>{{folio.dataService.JSONAboutSection[0].description}}</p>

					</div>

					<div class="slide">

						<p>xxxxxx</p>
						
					</div>

					<div class="slide">

						<p>sssssss</p>
						
					</div>

				</div>

			</div>

		</div>

	</div>
	
</section>