<section class="section testimonial">

	<div class="container">

		<h2>{{folio.dataService.JSONTestimonialSection[0].header}}</h2>

		<div class="row">

	  	<div ng-repeat="testimonial in folio.dataService.JSONTestimonialSection[0].possibilities">

				<div class="col-xs-12 col-sm-6">

					<div class="item">
						<p class="description">{{testimonial.description}}</p>
						<p class="name">{{testimonial.name}}</p>
				  	<p class="company"></b>{{testimonial.company}}</p>
			  	</div>
			  	
			  </div>

			</div>

		</div>

	</div>

</section>