<section class="work-details">

	<div class="container">
		
		<a href="#"
			 ng-click="folio.closeWorkItemDetailsPanel($event); folio.panelActive = !folio.panelActive"
			 class="close">
			 <i class="fa fa-close"></i>
		</a>

		<div class="row">

			<div ng-repeat="workItem in folio.dataService.JSONWorkSection[0].possibilities | filter: folio.getWorkItemDetails">

				<div class="item">

					<div class="col-xs-12">

						<h2>{{workItem.title}}</h2>

						<div class="row">

							<div class="col-xs-12 col-sm-4">

								<div class="logo" ng-attr-style="background: {{workItem.colour}}">
									<img ng-src="{{workItem.logo}}">
								</div>

								<p>{{workItem.description}}</p>

								<a class="url" href="{{workItem.url}}"
									 ng-if="workItem.url !==''">
									<span>{{workItem.url}}</span>
								</a>

								<span class="no-url"
											ng-if="workItem.noUrl !==''">
											{{workItem.noUrl}}
								</span>

							</div>

							<div class="col-xs-12 col-sm-7 col-sm-offset-1">

								<div class="row">

									<div class="col-xs-12">

										<div class="row">
										
											<div class="hero"
												ng-repeat="workItemDetails in workItem.image"
												ng-show="folio.isActive($index)">
												<img alt="{{workItemDetails.name}}" title="{{workItemDetails.name}}" ng-src="{{workItemDetails.url}}">
											</div>

											<!--<div ng-repeat="workItemDetails in workItem.image">

												<p class="description" ng-show="folio.isActive($index)">{{workItemDetails.description}}</p>

											</div>-->

										</div>

										<div class="row" >

											<div class="image" ng-repeat="workItemDetails in workItem.image"
												ng-click="folio.updateThumbDetails($index);"
												ng-class="{'active':folio.isActive($index)}">
												<img ng-src="{{workItemDetails.url}}">
											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</section>