<section class="section work">

	<div class="container animate">

		<div class="row">

			<h2>{{folio.dataService.JSONWorkSection[0].header}}</h2>
 
			<div class="items"
				ng-repeat="work in folio.dataService.JSONWorkSection[0].possibilities | orderBy: 'favourite':true"
				loaded-directive callback-fn="folio.numberOfSlides()">

				<div class="col-xs-4 col-sm-4 col-md-3">

					<a href="#"
						 ng-attr-style="background: {{work.colour}}"
						 ng-click="folio.openWorkItemDetailsPanel($event); folio.setWorkItemDetailsId(work); folio.panelActive = !folio.panelActive"
						 class="logo">

						<p>{{work.title}}</p>

						<div class="image">
			  			<img ng-src="{{work.logo}}">
			  		</div>

			  	</a>

			  </div>

			</div>

		</div>

	</div>

	<include src="../components/_section2-details.html"></include>

</section>