/********************************************
*
* SECTION 1 - HOME
*
********************************************/
.fp-viewing-firstPage {
	#fullpage {
		background: $bluebase;
	}
}

.section.home {
	text-align: center;

	.wl-logo {
		position: relative;
		width: 100%;
		max-width: 200px;
		margin: 0 auto 40px;

		@media all and (min-width: 480px) and (min-height: 769px) {
      max-width: 450px;
    }

		img {
			width: 100%;
		}
	}

	.text {
		position: relative;

		h1, h3 {
			position: relative;
		}

		h1 {
			margin-bottom: 20px;
			font-family: $font-secondary;
			font-weight: 900;
		}

		p {
			font-size: 14px;

			@media all and (min-width: 480px) {
    		font-size: 18px;
  		}
		}

		a.portfolio-link {
			display: none;
			/*display: inline-block;*/
			font-weight: 700;
			color: $white;
			cursor: pointer;
			text-transform: uppercase;

			span {
				display: block;
				font-size: 16px;

				@media all and (min-width: 480px) and (min-height: 769px) {
		      font-size: 18px;
		    }
			}

			i {
				margin-top: 10px;
				font-size: 40px;
			}

			&:hover {
				color: $black;
			}

		}
	}

}


/********************************************
*
* SECTION 2 - WORK
*
********************************************/
body[class^='fp-viewing-secondPage'],
body[class*=' fp-viewing-secondPage']{
	#fullpage {
		background: $offwhite;
	}
}

.section.work {
	//overflow: hidden;
	padding: 100px 0;

	@media all and (min-width: 480px) {
    padding: 0;
  }

	.container {
		position: relative;
		top: 50%;
		left: 0;
		margin-top: -40px;
		transform: translateY(-50%);
		@include transition(.4s);

  	@media all and (min-width: 480px) {
      margin-top: -78px;
    }

		> .row {

			.fp-tableCell {
				display: inline-block;
				vertical-align: top;
				height: auto !important;
			}
		}

		h2 {
			color: $black;
		}

		.items {

			.logo {
				min-height: 100px;

				@media all and (min-width: 480px) {
		      min-height: 190px;
		    }

				p {
					margin: 0;
					font-weight: normal;
				}
			}

		}

	}
}


/********************************************
*
* SECTION 2 - WORK DETAILS
*
********************************************/
.work-details {
	z-index: 20;
	position: fixed;
	top: 0;
	right: -200%;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	@include transition(.4s);
	background: $darkgrey;

	.container {

		position: relative;
		top: auto;
		transform: none;

		h2 {
			max-width: 80%;
			color: $white;
		}

	}

	.close {
		display: block;
		z-index: 1;
		position: absolute;
		top: 60px;
		right: 12px;
		font-size: 28px;
		color: $white;
		text-align: center;

		@media all and (min-width: 480px) {
      right: 20px;
      font-size: 34px;
    }

		&:hover {
			color: $bluemediumlight;
		}
	}

	.item {
		margin: 60px 0;
		overflow: hidden;

		.logo  {
			width: 50%;
			margin-bottom: 20px;
			padding: 10px;

			img {
				//height: 50px;
				margin: 0 auto;
			}
		}
	}

	.hero, .image {
		border-style: solid;
		border-color: $white;
	}

	.image {
		float: left;
		position: relative;
		width: 50px;
		height: 50px;
		overflow: hidden;
		margin: 0 4px 10px 0;
		border-width: 2px;
		cursor: pointer;
		background: $white;

		&.active {
			&:before {
				display: none;
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
		}

		img {
			width: auto;
			max-width: none;
			height: 100%;
			margin: 0 auto;
		}
	}

	.hero {
		max-height: 300px;
		overflow-y: auto;
		margin-bottom: 6px;
		border-width: 2px;

		&::-webkit-scrollbar {
		  width: 12px;  /* for vertical scrollbars */
		  height: 12px; /* for horizontal scrollbars */
		}

		&::-webkit-scrollbar-track {
		  background: $offblack;
		}

		&::-webkit-scrollbar-thumb {
		  background: $bluemediumlight;
		}

		@media all and (min-width: 480px) {
      max-height: 600px;
    }

		img {
			width: 100%;
		}
	}

	.description {
		font-size: 12px;
	}

	a.url {
		display: block;
		margin-bottom: 40px;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
		color: $white;
		word-break: break-word;

		i {
			display: inline-block;
			margin-right: 8px;
		}

		&:hover {
			color: $bluemediumlight;
		}
	}

	.no-url {
		font-size: 14px;
		font-weight: 700;
		color: $testred;
	}

}

.hidden-menu-active {
	position: absolute;
	overflow: hidden !important;
	height: 100% !important;

	.section.work .container.animate {
		position: relative;
		left: -100%;
	}

	.work-details {
		right: 0;

		@media all and (min-width: 480px) {
      width: 100%;
    }
	}

}


/********************************************
*
* SECTION 3 - ABOUT
*
********************************************/
body[class^='fp-viewing-thirdPage'],
body[class*=' fp-viewing-thirdPage']{
	#fullpage {
		background: $bluemedium;
	}
}

.section.about {
	margin-bottom: 100px;
	padding: 100px 0;

	@media all and (max-width: 480px) {
    height: auto !important;
  }

	@media all and (min-width: 480px) {
    margin-bottom: 0;
    padding: 0;
  }

	.container {
		position: relative;
		@include transition(.4s);

  	@media all and (min-width: 480px) {
      top: 50%;
      left: 0;
      margin-top: -78px;
      transform: translateY(-50%);
    }

    .slide {
    	padding: 0 1px;
    }

		> .row {

			.fp-tableCell {
				display: inline-block;
				vertical-align: top;
				height: auto !important;
			}
		}

		.fp-controlArrow {
			bottom: -30px;
			color: $white;

			&:hover {
				color: $bluemediumlight;
			}
		}

		/*.fp-slides, .fp-controlArrow {
			margin-bottom: 100px;

			@media all and (min-width: 480px) {
	      margin-bottom: 0;
	    }
		}*/

		.logo {
			overflow: hidden;
			max-width: 80%;
			margin: 0 auto 20px;

			@media all and (min-width: 480px) {
	      max-width: none;
	    }

			&.no-colour {
				img {
					padding: 0;
				}
			}

			img {
				max-height: 100px;
				margin: 0 auto;
				padding: 20px;

				@media all and (min-width: 480px) {
		      max-height: none;
		    }
			}
		}

		.details {

			li {
				position: relative;

				i {
					position: absolute;
					top: 6px;
					font-size: 12px;
					color: $white;
				}

				p {
					display: inline-block;
					margin-left: 20px;
					margin-bottom: 10px;

					@media all and (min-width: 480px) {
			      margin-bottom: 20px;
			      font-size: 18px;
			    }
				}

			}
			
		}

	}

}


/********************************************
*
* SECTION 4 - TESTIMONIALS
*
********************************************/
.fp-viewing-fourthPage {
	#fullpage {
		background: $bluemediumdark;
	}
}

.section.testimonial {
	padding: 100px 0;
	
	@media all and (min-width: 480px) {
    padding: 0;
  }

	.items {
		overflow: hidden;
		margin: 30px 0;

		@media all and (min-width: 480px) {
    	margin: 60px 0;
  	}

  	.quote {
  		position: relative;
  		margin: 20px 0;

  		@media all and (min-width: 480px) {
      	position: absolute;
      	left: 0;
      	width: 50%;
      	height: 100%;
      	margin: 0;

      	&.odd {
      		left: auto;
					right: 0;
				}
    	}

			blockquote {
	  		position: relative;
	  		width: 100%;
	  		font-family: $font-secondary;
	  		font-size: 30px;
	  		font-weight: 700;
	  		color: $white;
	  		text-align: center;

	  		@media all and (min-width: 480px) {
	  			position: absolute;
	  			top: 50%;
	  			@include transform(translateY(-50%));
	  		}
	  	}
  	}

  	.item {
  		width: 100%;

  		@media all and (min-width: 480px) {
      	float: right;
      	width: 50%;

      	&.odd {
					float: left;
				}
    	}
  	}

		.item {

			.name, .divider, .company {
				display: inline-block;
				margin: 0;
				font-weight: 700;
			}

			.description {
				margin-bottom: 10px;
			}

			.name {
				color: $bluemediumlight;
			}

		}

	}
}


/********************************************
*
* SECTION 5 - CONTACT
*
********************************************/
.fp-viewing-lastPage {
	#fullpage {
		background: $bluedark;
	}
}

.section.contact {
	padding: 60px 0;
	
	@media all and (min-width: 480px) {
    padding: 0;
  }

	.social {
		margin-bottom: 40px;

		a {
			display: block;
			width: 60px;
			height: 60px;
			font-size: 60px;
			color: $white;
			text-align: center;

			&:hover {
				color: $bluemediumlight;
			}
		}
	}

	.validation {
		padding: 20px;
		font-size: 14px;
		font-weight: 700;
		color: $white;
		text-align: center;

		&.error {
			background: $testred;
		}

		&.success {
			background: $testgreen;
		}
		
	}

	.contact-form {
		position: relative;
		max-width: 692px;
		margin: 0 auto;

		.form-group {
			overflow: hidden;
			margin-bottom: 10px;

			&.last {

				input.label {
					float: left;
					height: auto;
					max-width: 25%;
					margin-left: 10px;
					padding: 0;
					font-weight: 700;
					font-size: 30px;
					color: $white;
					border: none;
					background: transparent;

					@media all and (min-width: 480px) {
			      margin-top: 8px;
			    }
				}

				.form-item {
					float: right;
					width: 60%;

					@media all and (min-width: 480px) {
			      width: 72%;
			    }
				}

			}

			.error {
				clear: both;
				display: block;
				margin: 4px 0 0 10px;
				font-weight: 700;
				color: $testred;
				line-height: normal;
			}
		}

		input, textarea {
			width: 100%;
			height: 40px;
			padding: 5px 5px 5px 10px;
			font-family: $font-primary;
			font-size: 16px;
			border: 1px solid $black;
    	outline: none;
    	appearance: none;
    	border-radius:0;
    	@include transition(background 0.5s ease-in-out 0s);
    	background: $white;

    	@media all and (min-width: 480px) {
	      height: 60px;
	    }

    	&:focus {
    		background: $bluemediumlight;
    	}
		}

		textarea {
			height: 80px;

			@media all and (min-width: 480px) {
	      height: 150px;
	    }
		}

		.btn {
			width: 100%;
			height: 60px;
			font-size: 16px;
			font-weight: 700;
			color: $white;
			border: none;
			@include transition(all 0.2s ease-in);
			background: $black;

			&:hover {
				background: $bluemediumlight;
			}
		}
	}

}


/********************************************
*
* SHARED STYLES
*
********************************************/
#fullpage {
	@include transition(background 0.8s ease-in !important);
}

.section {
	clear: both;
	position: relative;
	@include transition(all 0.8s ease-in);

	/*&.active {
		.container {
			opacity: 1;
		}
	}*/

	h2 {
		position: relative;
	}

	/*.animation-trigger {
		z-index: 1;
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		height: 1px;
		background: transparent;
	}*/

	> .fp-tableCell {
  	position: relative;
  	top: -40px;

  	@media all and (min-width: 480px) {
      top: -78px;
    }
	}

	.container {
		/*opacity: 0;
		@include transition(all 0.6s ease-in);*/

		.items [class*='col'] {
			overflow: hidden;
			padding: 0;
			border: 1px solid transparent;
		}

		.items {
			position: relative;

			.logo {
				display: block;
				position: relative;
				overflow: hidden;
				border: 1px solid $grey;

				/*&:before {
					content: "";
					z-index: 1;
					position: absolute;
					bottom: -100%;
					width: 100%;
					height: 100%;
					@include transition(.3s);
					background: $black;

					@media all and (min-width: 480px) {
			      height: 50px;
			    }
				}*/

				&:hover {
					/*&:before {
						bottom: 0;
					}*/

					p {
						bottom: 0;
						margin: 0;
						transition-delay: .3s;
						transform: none;

						/*@media all and (min-width: 480px) {
				      height: 0;
				    }*/
					}

					.image {
						@include transform(translateX(-50%) translateY(-50%) translateZ(0) scale(0.9));
					}
				}

				p {
					z-index: 1;
					position: absolute;
					bottom: -150%;
					width: 100%;
					padding: 10px;
					font-size: 12px;
					line-height: 18px;
					text-align: center;
					transition-delay: 0;
					@include transform(translateY(-50%));
					@include transition(.1s);
					background: $black;

					@media all and (min-width: 480px) {
			      font-size: 16px;
			      line-height: 25px;
			    }
				}

				.image {
					position: absolute;
				  top: 50%;
				  left: 50%;
		    	width: 100%;
					@include transform(translateX(-50%) translateY(-50%) translateZ(0) scale(1.0));
					@include transition(.3s);

					img {
						width: 80%;
						margin: 0 auto;

						@media all and (min-width: 480px) {
				      width: 60%;
			    	}
					}
				}

			}

		}
	}
}