/********************************************
* SECTION 1 - HOME
********************************************/
.section.home {
	text-align: center;
	background: $bluebase;

	.wl-logo {
		width: 100%;
		max-width: 450px;
		margin: 0 auto 40px;

		img {
			width: 100%;
		}
	}

	h1 {
		margin-bottom: 10px;
		font-family: $font-secondary;
		font-weight: 900;
	}

	h1, h3 {
		color: $white;
	}

	a {
		display: inline-block;
		margin-top: 40px;
		font-weight: 700;
		color: $white;
		text-transform: uppercase;

		span {
			display: block;
			font-size: 18px;
		}

		i {
			margin-top: 10px;
			font-size: 40px;
		}

	}

}


/********************************************
* SECTION 2 - WORK
********************************************/
.section.work {
	overflow: hidden;
	background: $offwhite;

	.container.animate {
		position: relative;
		top: 50%;
		left: 0;
		margin-top: -40px;
		padding: 0;
		transform: translateY(-50%);
		@include transition(.4s);

  	@media all and (min-width: 768px) {
      margin-top: -78px;
    }

		> .row {
			position: relative;
			padding: 0;
			margin: 0 12px;

			.fp-tableCell {
				display: inline-block;
				vertical-align: top;
				height: auto !important;
			}
		}

		.items {

			.logo {
				min-height: 190px;

				p {
					margin: 0;
					font-weight: normal;
					color: $white;
				}
			}

		}

	}
}


/********************************************
* SECTION 2 - WORK DETAILS
********************************************/
.work-details {
	z-index: 5;
	position: absolute;
	top: 0;
	right: -200%;
	width: 100%;
	height: 100%;
	@include transition(.4s);
	background: $greenmediumlight;

	.container {
		position: relative;
	}

	.close {
		display: block;
		z-index: 1;
		position: absolute;
		top: 20px;
		right: 12px;
		font-size: 40px;
		color: $white;
		text-align: center;
	}

	.item {
		margin: 60px 0;
		overflow: hidden;

		.logo  {
			margin-bottom: 20px;
			padding: 10px;

			img {
				height: 50px;
				margin: 0 auto;
			}
		}
	}

	.hero, .image {
		border-style: solid;
		border-color: $white;
	}

	.image {
		margin-bottom: 10px;
		border-width: 2px;
		cursor: pointer;
	}

	.hero {
		margin-bottom: 20px;
		border-width: 4px;

		img {
			width: 100%;
		}
	}

	.description {
		font-size: 14px;
		text-align: center;
	}

}

.hidden-menu-active {
	/*position: absolute !important;
	width: 100% !important;
	height: 100% !important;
  overflow: hidden !important;*/

	.section.work .container.animate {
		position: absolute;
		left: -100%;
	}

	.work-details {
		right: 0;

		@media all and (min-width: 768px) {
      width: 100%;
    }
	}
}


/********************************************
* SECTION 3 - ABOUT
********************************************/
.section.about { background: $bluemediumlight; }


/********************************************
* SECTION 4 - TESTIMONIALS
********************************************/
.section.testimonial {
	background: $offwhite;

	.container {

		.item {
			margin: 20px 0;

			@media all and (min-width: 768px) {
      	margin: 40px 0;
    	}

			.name, .company {
				display: inline-block;
				margin: 0;
				font-weight: 700;
			}

			.description {
				margin-bottom: 10px;
			}

			.name {
				color: $bluemediumdark;
			}

			.company {
				color: $greenbase;
			}
		}

	}
}


/********************************************
* SECTION 5 - CONTACT
********************************************/
.section.contact {
	background: $greenlight;

	h2, h3 {
		color: $black;
	}

	.social {
		margin-bottom: 40px;

		a {
			display: block;
			width: 60px;
			height: 60px;
			font-size: 60px;
			color: $white;
			text-align: center;
		}
	}

	.contact-form {
		max-width: 670px;
		margin: 0 auto;

		.form-group {
			overflow: hidden;
			margin-bottom: 10px;

			&.last {

				label {
					float: left;
					width: 15%;
					margin: 14px 0 0 10px;
					font-weight: 700;
					font-size: 30px;
				}

				input {
					float: right;
					width: 75%;
				}

			}
		}

		input, textarea {
			width: 100%;
			height: 60px;
			padding: 5px 5px 5px 10px;
			font-family: $font-primary;
			font-size: 16px;
			border: 1px solid $black;
    	outline: none;
    	@include transition(background 0.5s ease-in-out 0s);
    	background: $white;
		}

		textarea {
			height: 150px;
		}

		.btn {
			width: 100%;
			height: 60px;
			font-size: 16px;
			font-weight: 700;
			color: $white;
			border: none;
			background: $black;
		}
	}

}


/********************************************
* SHARED STYLES
********************************************/
.section {

	> .fp-tableCell {
  	position: relative;
  	top: -40px;

  	@media all and (min-width: 768px) {
      top: -78px;
    }
	}

	/*.container:first-of-type {
		position: relative;
  	top: -40px;

  	@media all and (min-width: 768px) {
      top: -78px;
    }
	}*/

	.container {
		/*width: auto;
		max-width: 1280px;*/

		.items [class*='col'] {
			overflow: hidden;
			padding: 0;
			border: 1px solid transparent;
		}

		.items {

			.logo {
				display: block;
				position: relative;
				overflow: hidden;
				border: 1px solid $grey;

				&:before {
					content: "";
					z-index: 1;
					position: absolute;
					bottom: -100%;
					width: 100%;
					height: 50px;
					@include transition(.3s);
					background: $black;
				}

				&:hover {
					&:before {
						bottom: 0;
					}

					p {
						bottom: 0;
						margin: 0;
						transition-delay: .3s;
					}

					.image {
						@include transform(translateX(-50%) translateY(-50%) translateZ(0) scale(0.9));
					}
				}

				p {
					z-index: 1;
					position: absolute;
					bottom: -100%;
					width: 100%;
					font-size: 16px;
					line-height: 25px;
					text-align: center;
					transition-delay: 0;
					@include transform(translateY(-50%));
				}

				.image {
					position: absolute;
				  top: 50%;
				  left: 50%;
		    	width: 100%;
					@include transform(translateX(-50%) translateY(-50%) translateZ(0) scale(1.0));
					@include transition(.3s);

					img {
						max-width: 70%;
						margin: 0 auto;
					}
				}

			}

		}
	}
}