body {
	font-size: 14px;
}

p {
	margin-bottom: 10px;
}

.bg-info {
	padding: 5px;
	border: 2px solid blue;
}

.bg-danger {
	background: red;
}

.bg-success {
	background: green;
}

.image-selected {
	border: 3px solid blue;
}

.image-answer {
	width: 50%;

	&.bg-danger {
		border: 10px solid red;
	}

	&.bg-success {
		border: 10px solid green;
	}
}

#quiz-wrapper {
	margin-top: 40px;
	padding: 20px;
	border: 2px solid black;
}

.landing {
	margin-top: 20px;
	width: 100%;
	height: 300px;
	background: pink;
}

.answer-wrapper {
	margin-top: 20px;
	p {
		margin: 0;
	}
}

.progress-toolbar {
	margin-bottom: 10px;
}