@charset "CP850";
@import "framework/variables";

/******************************
* GENERAL STYLES
******************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;   
  height: 100%;
}

body {
  font-family: $font-primary;
  font-size: 100%;
  color: $black;
  -webkit-tap-highlight-color: transparent;
  @include font-smoothing();
  text-rendering: optimizeLegibility;
  background: $white;
}

a {
  color: $testred;

  &:hover, &:focus, &:active {
    color: $black;
  }
}

a img {
    border: none;
}

img {
    border: none;
    max-width: 100%;
    display: block;
}

strong {
  font-weight: 700; 
}

p {
  margin-bottom: 20px;
  font-size: 16px;
}

::selection {
    color: $white; 
    background: $greenmediumdark;
}


/******************************
* HEADER STYLES
******************************/
h1, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 40px;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

h1, h2 {
  font-family: $font-secondary;
  text-transform: uppercase;
}

h1 {
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media all and (min-width: 480px) {
    font-size: 42px;
    line-height: 42px;
  }
}

h2 {
  font-size: 22px;
  line-height: 24px;

  @media all and (min-width: 480px) {
    font-size: 32px;
    line-height: 34px;
  }
}

h3 {
  font-size: 18px;
}


/******************************
* MAIN NAV
******************************/
.navbar {
  z-index: 20;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  box-shadow: none;
  transition: all 1s ease;
  background:rgba(50,50,50,0.3);

  .fp-viewing-firstPage & {
    .logo {
      width: 0;
      min-width: 0;
      height: 0;
      margin: 0;
      opacity: 0;
    }

    li.logo {
      width: 0;
    }
  }

  .scroll-active & {
    bottom: -156px;
  }

  &:hover {
    background:rgba(50,50,50,1);

    .mobile-menu {
      color: $white;
    }

    .logo {
      img.default {
        display: none;
      }

      img.hover {
        display: block;
      }
    }
  }

  &.navbar-active {
    height: auto;
  }

  @media all and (min-width: 768px) {
    height: 160px;
  }

  .mobile-menu {
    i {
      padding: 26px;
      font-size: 30px;
    }

    @media all and (min-width: 768px) {
      display: none;
    }
  }

  ul {
    display: none;
    margin: 0 2%;
    font-size: 14px;
    text-transform: uppercase;

    @media all and (min-width: 768px) {
      display: block;
    }

    li {
      display: block;
      width: 10%;
      min-width: 140px;
      vertical-align: top;

      @media all and (min-width: 768px) {
        min-width: 100px;
      }

      &.active, &:hover {
        a span:before {
          display: block;
        }
      }

      @media all and (min-width: 768px) {
        display: inline-block;
        margin-bottom: 0;
      }

      a {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 20px 0;
        font-weight: 700;
        color: $white;
        line-height: normal;

        @media all and (min-width: 768px) {
          display: inline-block;
          width: 100px;
          margin-bottom: 0;
          padding: 0;
          line-height: 156px;
        }

        span {
          position: relative;

          &:before {
            content: "";
            display: none;
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 2px;
            background: $white;
          }

        }
      }

      &.logo {
        min-width: 180px;
        margin-left: -20px;
        padding: 0 20px;

        a {
          display: none;
          height: 80px;
          margin: 0 auto;
          font-size: 0;

          @media all and (min-width: 768px) {
            display: block;
            width: 140px;
            margin: 28px auto
          }

          img {
            margin: 0 auto;

            &.hover {
              display: none;
            }
          }
        }
      }

    }
  }

}


/******************************
* FULLPAGE PLUGIN OVERRIDES
******************************/
#fp-nav, .fp-slidesNav {

  &:before, &:after {
    content: "";
    position: absolute;
  }

  ul li a span {
    background: $black;
  }

}

#fp-nav {
  left: 0 !important;
  padding: 20px 0;
}

.fp-slidesNav {
  padding: 0 10px;

  &.top {
    top: 0;
  }
}

.fp-controlArrow {
  top: auto;
  left: 50% !important;
  bottom: -46px;
  border: none;
  width: 20px !important;
  height: 30px;
                                                                                             
  &:before {
    display: block;
    width: 100%;
    height: 100%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-align: center;
  }

  &.fp-prev {
    margin-left: -30px;
  }

  &.fp-next {
    right: auto;
    margin-left: 10px;
  }

  &.fp-prev:before {
    content: "\f053";
  }

  &.fp-next:before {
    content: "\f054";
  }
}


/******************************
* FOOTER
******************************/
footer {
  display: none;
}


/******************************
* TEMPLATE SPACING
******************************/
.push {
  &.h20 { height: 20px; }
  &.h25 { height: 25px; }
  &.h40 { height: 40px; }
  &.h60 { height: 60px; }
  &.h70 { height: 70px; }
  &.h80 { height: 80px; }
  &.h100 { height: 100px; }
  &.h120 { height: 120px; }
  &.h140 { height: 140px; }
  &.h160 { height: 160px; }
}


/******************************
* GRID OVERLAY
******************************/
#grid-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  overflow: hidden;

  div span {
    display: block;
    height: 2000px;
    background: red;
  }
}