/********************************************
* COLOURS
********************************************/
// GENERAL
$black: #333333;
$offblack: #2E4057;
$white: #FFFFFF;
$offwhite: #F9F9F9;
$grey: #46494C;
$darkgrey: #4C5C68;

// TEST
$testblue: blue;
$testgreen: green;
$testorange: orange;
$testred: red;
$testyellow: yellow;

// BLUES
$bluebase: #7BAABE;
$bluelight: #B3CDE0;
$bluemediumlight: #81C3D7;
$bluemedium: #416788;
$bluemediumdark: #4C5760;
$bluedark: #16425B;

//UNUSED BLUES
/*$xxx1: #033860;*/ //DARK MIDNIGHT BLUE
/*$xxx2: #087CA7;*/ //CERULEAN
/*$xxx3: #004385;*/ //DARK CERULEAN
/*$xxx4: #05B2DC;*/ //CYAN
/*$xxx5: #4C5C68;*/ //DEEP SPACE SPARKLE
/*$xxx6: #1985A1;*/ //CG BLUE
/*$xxx7: #2F6690;*/ //B'DAZZLED BLUE
/*$xxx8: #3A7CA5;*/ //STEEL BLUE
/*$xxx9: #16425B;*/ //JAPANESE INDIGO
/*$xxx10: #81C3D7;*/ //DARK SKY BLUE
/*$xxx11: #2E4057;*/ //CHARCOAL
/*$xxx12: #282F44;*/ //GUNMETAL


/********************************************
* FONTS
********************************************/
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Titillium Web', sans-serif;


/********************************************
* MIXINS
********************************************/
@mixin font-smoothing($value: antialiased) {
  -webkit-font-smoothing: $value;
  -moz-osx-font-smoothing: grayscale;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
	-moz-animation: #{$animation};
	-ms-animation: #{$animation};
	animation: #{$animation};
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}
