<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="folioFramework" ng-controller="folioCtrl as folio" ng-cloak>

<head>
	<include src="../structure/_html-header.html"></include>
</head>

  <body initialize-directive callbackrender-fn="folio.initializeFullpage()"
    ng-class="{ 'hidden-menu-active': folio.panelActive }">
    
    <div id="wrapper">

      <include src="../structure/_header.html"></include>

      <div id="fullpage">
        <!-- Section 1 - Home -->
        <include src="../components/_section1.html"></include>
        <!-- Section 2 - Portfolio -->
        <include src="../components/_section2.html"></include>
        <!-- Section 3 - About -->
        <include src="../components/_section3.html"></include>
        <!-- Section 4 - Agencies -->
        <include src="../components/_section4.html"></include>
        <!-- Section 5 - Contact -->
        <include src="../components/_section5.html"></include>
      </div>

      <div class="push-sf"></div> <!-- for sticky footer -->

    </div><!-- .wrapper -->

    <include src="../structure/_footer.html"></include>
    
  </body>
</html>